{% extends 'base.html' %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='products.css') }}">
{% endblock %}
{% block title %}Products Page{% endblock %}

<!-- BEGIN MAIN CONTENT OF THE PAGE-->
{% block content %}

<main class="container products-container">

<div class="center-title"><h2 >Warehouse Inventory</h2></div>

    <div class="actions-bar">

            <!--SEARCH BAR-->
            <form method="get" action="{{ url_for('products') }}" >
                <input type="text" name=search placeholder="Search product">
                <button type="submit">Search</button>
            </form>

            <!--ADD PRODUCT BUTTON-->
            <form action="{{ url_for('add_product') }}" method="post" >
                <button type="submit">Add Product</button>
            </form>

            <!--ADD CATEGORY BUTTON-->
            <form action="{{ url_for('add_category') }}" method="get" >
                <button type="submit">Add Category</button>
            </form>

           <!-- FILTER PRODUCTS -->
            <form method="get" action="{{ url_for('products') }}">
                    <select name="category">

                        <option value="">All Categories</option>
                        {% for category in categories %}
                            <option value="{{ category['category_name'] }}">{{ category['category_name'] }}</option>
                        {% endfor %}
                    </select>
                <button type="submit">Filter</button>
                <a href="{{ url_for('products') }}" class="reset-btn">
                    Reset Filters
                </a>
            </form>
    </div>

    <!-- TABLE OF PRODUCTS -->
        <div>
            <table class="inventory-table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Unit</th>
                        <th>Price (€)</th>
                        <th>Stock</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for product in products %}

                    {% set out_stock = product["quantity"] <= 0%}

                        {% set low =
                            product["threshold"] > 0 and
                            product["quantity"] < product["threshold"] and
                            product["quantity"] > 0
                        %}

                    <tr class="
                        {% if low %}low-stock{% endif %}
                        {% if product['is_active'] == 0 %}inactive-row{% endif %}
                    ">
                        <td>{{ product["product_name"] }}</td>
                        <td>{{ product["product_category"] }}</td>
                        <td>{{ product["product_unit"] }}</td>
                        <td>{{ product['product_price'] }}</td>
                        <td>{{ product["quantity"] }}</td>

                        <td>
                            {% if out_stock %}
                                <span class="out-stock-badge">Out of Stock</span>
                            {% elif low %}
                                <span class="low-badge">Low</span>
                            {% else %}
                                <span class="ok-badge">OK</span>
                            {% endif %}
                        </td>

                        <td class="actions-col">
                            <a href="{{ url_for('edit_product', product_id=product['product_id']) }}" class="edit-btn">
                            Edit
                            </a>

                            <a href="{{ url_for('toggle_product', product_id=product['product_id']) }}" class="disable-btn"
                                   {% if product['is_active']==1 %}
                                    onclick="return confirm('Are you sure you want to disable this product?')"
                                    {% endif %}
                            >
                                {% if product['is_active']==1 %}
                                    Disable
                                {% else %}
                                    Enable
                                {% endif %}
                            </a>
                        </td>
                     </tr>

                 {% endfor %}

                </tbody>
            </table>
        </div>
</main>
{% endblock %}